urllib3==1.26.18
db-sqlite3
w3lib==2.1.2
beautifulsoup4==4.12.3
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib-metadata==7.0.1
Pyrogram==2.0.106
requests==2.31.0
requests-html==0.10.0
requests-random-user-agent==2023.2.15
pillow
bs4==0.0.2
TgCrypto==1.2.5
aiohttp==3.9.3
Quart
unshortenit==0.4.0
dotenv
motor